{% extends "layout.njk"%}

{% block head %}
  <title>About - Danilo da Silva</title>
{% endblock %}

{% block content %}

  <section id="wrapper">
    <img src="https://avatars2.githubusercontent.com/u/34549752?s=460&v=4" alt="Danilo da Silva">
    <h1>Danilo da Silva</h1>
    <h2>front-end</h2>
    <p>Programador front-end, focado em trazer o melhor ensino para iniciantes em programação. Colaborador da <a href="https://dev360.com.br" target="_blank">Dev360</a></p>
  </section>
  <footer id="footer">
    <ul>
      <li><a href="#">linkedin</a></li>
      <li><a href="#">youtube</a></li>
      <li><a href="#">instagram</a></li>
    </ul>
  </footer>

{% endblock %}